* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

body {
  margin: 0;
}

body > section .nav {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}
.d-flex {
  display: flex;
}
.row-centered {
  align-items: center;
}

.row-centered-nav {
  justify-content: center;
}

.content-container {
  max-width: 1200px;
}

body > section {
  margin: 0 auto;
}

body > section:last-child {
  margin-top: 75px;
  margin-bottom: 0;
}

#app-logo {
  height: 36px;
  width: 40px;
  padding-right: 16px;
}

#app-title {
  color: #173a56;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.nav-bar-wrapper {
  width: 100%;
  justify-content: space-between;
}

.nav-links-container > a {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0 12px;
}

.nav > .section-2-col {
  padding-top: 43px;
  padding-bottom: 114px;
}

.button-primary {
  text-align: center;
  border-radius: 4px;
  background: #02897a;
  width: 102px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding-right: 0px;
  padding-left: 0px;
}

.button-outline {
  background-color: white;
  color: #173a56;
  border: 1px solid #bcd0e5;
}

.button-link {
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

#play-icon {
  height: 14px;
  margin-right: 10px;
}

.buttons-nav {
  margin: 14px;
}

.switch-theme-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch-theme-item {
  height: 18px;
  width: 18px;
}

.nav-bar-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.main-header {
  color: #22343d;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 0px;
  padding-bottom: 18px;
}

#section-1 {
  margin-top: 25px;
  margin-bottom: 114px;
}
#section-1 .main-header {
  padding-bottom: 18px;
}

.content-left-col {
  margin-right: 3%;
}

.content-right-col {
  margin-left: 3%;
}

#customer-support > .content-left-col {
  margin-right: 0px;
  margin-left: 3%;
}

#customer-support > .content-right-col {
  margin-left: 0px;
  margin-right: 3%;
}

.content-left-col,
.content-right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 45px;
  color: #22343d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.first-section-right-col {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.button-link-margin {
  margin-left: 30px;
}

#menu-icon {
  width: 28px;
  height: 31px;
  cursor: pointer;
}

.menu-icon-resp {
  display: none;
}

#menu-coplase {
  display: none;
}

.section-3-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.section-bg {
  background-image: url("./img/shadow-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: visible;
  padding-bottom: 90px;
}

#signUpNow {
  width: 175px;
  height: 53px;
}

.section-bg-reverse {
  background-image: url("./img/shadow-bg-reversed.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: visible;
  padding-top: 120px;
}

.section-3-row > h2 {
  font-weight: 700px;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 20px;
}

.section-3-row > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  width: 60%;
}

.section-row-3-cols {
  display: grid;
  grid-template-areas: "grid-col-1 grid-col-2 grid-col-3";
  gap: 10px;
}

.section-row-3-cols-item-1 {
  grid-area: grid-col-1;
}

.section-row-3-cols-item-2 {
  grid-area: grid-col-2;
}

.section-row-3-cols-item-3 {
  grid-area: grid-col-3;
}

.section-row-4-cols {
  display: grid;
  grid-template-areas: "grid-col-1 grid-col-2 grid-col-3 grid-col-4";
  gap: 10px;
}

.section-row-4-cols-item-1 {
  grid-area: grid-col-1;
}

.section-row-4-cols-item-2 {
  grid-area: grid-col-2;
}

.section-row-4-cols-item-3 {
  grid-area: grid-col-3;
}

.section-row-4-cols-item-4 {
  grid-area: grid-col-4;
}

.section-row-4-cols h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 30px;
}

.section-row-4-cols p {
  font-size: 16px;
  line-height: 26px;
}

.section-2-icon {
  height: 50px;
  width: 50px;
}

.section-row-4-cols div {
  margin-top: 60px;
  margin-bottom: 30px;
}

.section-2-col .button-primary {
  width: 175px;
  height: 53px;
}

.section-2-col-item > h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 30px 0 4px 0;
}
.check-box-icon {
  height: 35px;
  width: 35px;
  margin-right: 30px;
}

.avatar-icon {
  height: 100px;
  width: 100px;
}
.chat-box {
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  text-align: center;
  padding: 15px;
  overflow: visible;
}

.chat-section .chat-container {
  justify-content: space-between;
}

.chat-section .chat-container .chat-column {
  width: calc(50% - 80px);
}

.chat-section .chat-column .message {
  display: flex;
  align-items: center;
}

.chat-section .chat-column .message .image:first-child,
.chat-section .chat-column .message span:first-child {
  margin-right: 16px;
}

.chat-section .chat-column .message .image {
  width: 98px;
}

.chat-section .chat-column .message .image img {
  width: 100%;
}

.chat-section .chat-column .message span {
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  padding: 14px 24px;
  position: relative;
}

.chat-section .chat-column .message span::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  left: 32px;
  bottom: -8px;
}

.chat-section .chat-column .message span::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  left: 21px;
  bottom: -16px;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}

.chat-section .chat-column .message.span-first span::before {
  left: unset;
  right: 55px;
}

.chat-section .chat-column .message.span-first span::after {
  left: unset;
  right: 36px;
}

.no-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: visible;
}

.no-bg > .content-container {
  align-items: flex-start;
}

.no-bg > .content-left-align {
  text-align: left;
}

.strong {
  font-weight: bold;
}

.section-2-image {
  height: 50%;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex > div {
  margin-left: 30px;
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.flex .rating {
  width: 30%;
}

.inline {
  display: flex;
  flex-direction: row;
}

div.inline {
  float: left;
}

#quick .center {
  text-align: center;
}

#strategies {
  margin-top: 150px;
  margin-bottom: 150px;
}

#strategies .section-3-row {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#join > .content-container img {
  width: 100%;
  height: auto;
}
#join .section-3-row {
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  background: #02897a;
  align-items: center;
}

#join {
  background-color: #02897a;
  height: auto;
  border-radius: 64px;
  width: 70%;
}

#join p {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}
#join button {
  color: #02897a;
  border-radius: 8px;
  background: #fff;
  height: 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}

#footer .content-container .section-row-4-cols {
  gap: 40px;
}

#footer
  .content-container
  .section-row-4-cols
  .section-row-4-cols-item-1
  #app-logo {
  float: left;
}

#footer .content-container .section-row-4-cols .section-row-4-cols-item-1 h5 {
  margin-top: 0px;
}

#footer .content-container .section-row-4-cols .section-row-4-cols-item-1 img {
  width: 15%;
}

#footer .content-container .section-row-4-cols-item-1 {
  margin-top: 100px;
}

#footer .content-container .section-row-4-cols-item-4 button {
  margin-top: 20px;
  display: block;
}

@media screen and (max-width: 950px) {
  .menu-icon-resp {
    display: flex;
  }

  .nav-bar-wrapper > .nav-bar-buttons-container {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: white;

    padding: 20px 10px;
    border-radius: 4px;
  }

  .nav-bar-buttons-container > .nav-links-container > a {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  .nav-bar-buttons-container > .actions-buttons-wrapper {
    padding: 10px 0;
    flex-direction: column;
    margin-bottom: 85px;
  }

  .nav-bar-buttons-container > .actions-buttons-wrapper > .button {
    margin: 5px 0;
  }

  .nav-bar-buttons-container > .nav-links-container > a:hover {
    text-decoration: underline;
  }

  .nav
    > #menu-coplase:not(:checked)
    ~ .nav-bar-wrapper
    > .nav-bar-buttons-container {
    height: 0;
  }

  .chat-box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .chat-box-container > .content-left-col {
    justify-content: center;
    align-items: center;
  }

  .chat-section .chat-container {
    flex-direction: column;
  }

  .section-row-4-cols h5 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 750px) {
  #join {
    flex-direction: column;
  }

  .section-2-col {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .section-2-col-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .section-2-col:nth-child(5) {
    flex-direction: column;
  }

  .section-row-4-cols {
    grid-template-areas: "grid-col-1" "grid-col-2" "grid-col-3" "grid-col-4";
    gap: 0;
  }

  .section-row-4-cols div {
    margin: 0;
  }

  .section-row-4-cols div {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .client .flex {
    flex-direction: column;
  }
}
